* {
    margin: 0px;
    padding: 0px;
}
body{
    background-image: linear-gradient(to right, rgb(0, 255, 221) , rgb(65, 70, 68))
}
h1{
    color: rgb(0, 0, 0);
    text-align: center;
    
}
.First{
    border: 1px solid rgb(0, 255, 234);
    display: flex;
    position: absolute;
    font-size: 22pt;
    margin: 4px;
    padding: 4px;
}
.firstpara{
    color: #2ae62a;
    background-color: #000000;
    text-align: center;
}
.First p b{
    color: red;
}
